body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Full viewport height */
    background-image: url('canvasdrawing.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: flex-end; /* Aligns the button to the right */
    padding: 30px 30px;
    position: relative; /* Ensure positioning for any absolute children */

}

.btn {
    padding: 12px 12px;
    background: #5F4686;
    border: 0;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add shadow for visual effect */

}
.popup {
    position: fixed; /* Ensure it's fixed in the viewport */
    top: 7.8%; /* Initially place in the center vertically */
    left: 96%; /* Initially place in the center horizontally */
    transform: translate(-50%, -50%) scale(0); /* Initially scale down */
    transition: transform 0.5s ease, top 0.5s ease, left 0.5s ease;
    display: none;
    z-index: 1000; /* Ensure it's on top */
}


.popup img {
    width: 1000px; /* Set a fixed width */
    object-fit: contain; /* Optional: ensures the image scales without distortion */
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add shadow for visual effect */
    opacity: 0.95; /* 50% opacity */
}



